{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "extends": [
    "standard-with-typescript",
    "plugin:jest/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "jest/globals": true
  }
}
